@import url(../../node_modules/reset-css/reset.css);

.header {
  font-family: "Montserrat";
  color: #fff;
  position: relative;
}

.header__wrapper {
  min-width: 320px;
  margin: 0 auto;
  background: bottom no-repeat url(../img/header-bg.jpg);
  background-size: cover;
}

.header a {
  font-size: inherit;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
}

.header__top-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 30px 0px;
  z-index: 2;
}

.header__top-items .logo {
  margin: 0 15px;
}

.header__top-items .logo span {
  display: none;
}

.header__top-items .logo::before {
  content: "";
  width: 43px;
  height: 41px;
  display: block;
  background-image: url(../img/sprite.png);
}

.header__menu li:hover a {
  color: #fff;
}

.header .button:hover {
  background-color: #fff;
}

.header .button:hover a {
  color: #8d81ac;
}

.header .logo:hover span {
  color: #fff;
}

.header .logo:hover::before {
  background-position: right;
}

.header__content {
  padding: 160px 0 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.header__content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 25px;
}

.header__content p {
  text-align: center;
  color: #8d81ac;
  font-size: 0.85rem;
  line-height: 1rem;
  padding: 0 20px;
}

.header__content p:last-of-type {
  text-transform: uppercase;
  margin-top: 1rem;
}

.header__content #download {
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: center;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

.header__content #download .button {
  padding: 25px 67px;
}

.header__content #download p {
  text-transform: capitalize;
  font-size: 0.875rem;
  color: #848e97;
}

.header__menu ul li::after {
  content: "";
  width: 8px;
  height: 60%;
  background-color: #8d81ac;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.header__menu.toggle-menu li:hover a {
  color: #8d81ac;
}

.header__menu.toggle-menu ul li:hover:after {
  opacity: 1;
}

.header__dropdown::before,
.header__dropdown::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  left: 0;
  display: block;
  bottom: 0;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.header__dropdown::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  background: #8d81ac;
  border-radius: 40px;
  padding: 11px 25px;
  border: 0;
  outline: none;
  margin: 0 15px;
}

.button a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.95rem;
  line-height: 17px;
}

.header__dropdown.toggle-menu::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__dropdown.toggle-menu::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
}

.header__dropdown.toggle-menu span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

/***********************Media queries*****************/

/*---------SOCIAL---------*/

.social {
  padding: 120px 15px;
  text-align: center;
  margin: 0 auto;
}

.social h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.625rem;
  color: #635c73;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.social p {
  font-family: "Lato";
  color: #323232;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: center;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px 5px;
}

.social__item button {
  position: relative;
  border: none;
  border-right: 1px solid grey;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 10px;
}

.social__item button svg {
  margin: 0 5px;
}

.social__item button:hover {
  background-color: #a8a7a7;
}

.social__item p {
  padding: 0 10px;
}

/*---------adwantages--------*/

.adwantages {
  text-align: center;
  padding: 15px;
}

.adwantages .adwantages__items {
  display: -ms-grid;
  display: grid;
  place-content: center;
  row-gap: 40px;
}

.adwantages .adwantages__items h3 {
  margin: 20px 0 15px;
  color: #323232;
  line-height: 21px;
}

.adwantages .adwantages__items p {
  font-size: 0.875rem;
  color: #848e97;
}

.adwantages .adwantages__items .editor-img img {
  width: 100%;
  margin-right: -10px;
}

.adwantages h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #8d81ac;
}

/*---------reviews--------*/

.reviews {
  text-align: center;
  padding: 55px 15px;
  background: no-repeat url(../img/reviews-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: -15px;
}

.reviews h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 55px;
}

.reviews p {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  line-height: 24px;
  margin: 33px 0 45px;
}

.reviews .text {
  opacity: 0;
}

/*---------subscription-pricing--------*/

.subscription-pricing {
  text-align: center;
  padding: 75px 15px;
  background: no-repeat url(../img/reviews-bg.jpg);
  background-size: cover;
}

.subscription-pricing h2 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 50px;
}

.subscription-pricing__items {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 15px;
}

.subscription-pricing__item {
  width: 256px;
  mix-blend-mode: normal;
  color: #ffffff;
  height: 457px;
}

.subscription-pricing__item.accented {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  margin: 35px 0;
}

.subscription-pricing__item.accented .name::before {
  opacity: 0.25;
  mix-blend-mode: normal;
  background: #000000;
  z-index: -1;
}

.subscription-pricing__item.accented .price::before {
  background-color: #463048;
  mix-blend-mode: normal;
  opacity: 0.89;
  z-index: -1;
}

.subscription-pricing .name {
  position: relative;
  font-size: 1.5rem;
  line-height: 26px;
  padding: 40px 44px;
  text-transform: uppercase;
}

.subscription-pricing .name::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.subscription-pricing .price {
  padding: 0 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 75%;
}

.subscription-pricing .price .decor {
  width: 60px;
  height: 5px;
  background: #8d81ac;
}

.subscription-pricing .price > :first-child {
  font-size: 60.1837px;
  line-height: 62px;
  padding-bottom: 15px;
}

.subscription-pricing .price .subscription-adwantages {
  line-height: 28px;
}

.subscription-pricing .price button {
  margin-top: 25px;
  padding: 15px 40px;
  position: relative;
  color: inherit;
  outline: none;
  border: 0;
  background: transparent;
}

.subscription-pricing .price button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.15;
  border-radius: 50px;
}

.subscription-pricing .price::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.15;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-width: 320px;
}

.content-wrapper,
body {
  min-width: 320px;
}

@media screen and (min-width: 481px) {
  .header__top-items {
    background-color: #27262a;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 25px 0;
  }

  .header__top-items .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__top-items .logo span {
    font-size: 1.5rem;
    display: inline-block;
    color: #8d81ac;
    padding: 10px;
    font-weight: bold;
  }

  .header__menu {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__menu li {
    padding: 10px;
  }

  .header__menu li a {
    font-weight: bold;
    color: #8d81ac;
  }

  .header__dropdown {
    display: none;
  }

  .header #download button {
    width: 390px;
    font-size: 1.3125rem;
  }

  .header__content h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0 0 25px;
  }

  .header__content p {
    font-family: "Lato";
    font-size: 1.5rem;
    line-height: 26px;
  }

  .header__content p:last-of-type {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .social h2 {
    font-size: 2.625rem;
  }

  .social p {
    font-size: 1.3125rem;
  }

  .adwantages h2 {
    font-size: 2.625rem;
  }

  .adwantages__items .editor-img {
    margin-right: -15px;
  }

  .adwantages__items h3 {
    margin-top: 0;
    font-size: 1rem;
  }

  .adwantages__items p {
    font-size: 0.875rem;
    color: #848e97;
  }

  .adwantages__item {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .adwantages__item img {
    margin-right: 20px;
    width: 111px;
    height: 100%;
    -o-object-fit: none;
    object-fit: none;
  }

  .reviews h2 {
    font-size: 2.625rem;
  }

  .reviews__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    place-items: end;
  }

  .reviews .text {
    position: relative;
    opacity: 1;
    font-size: 14px;
    line-height: 21px;
    color: #a291a5;
    text-align: center;
    font-style: normal;
    font-weight: normal;
  }

  .reviews .text::after {
    content: "";
    background: #645766;
    mix-blend-mode: normal;
    opacity: 0.2;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
  }
}

@media screen and (min-width: 590px) {
  .subscription-pricing__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 993px) {
  .header__top-items {
    background-color: rgba(0, 0, 0, 0);
    padding: 43px 75px;
  }

  .header__top-items button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header__top-items ::before {
    display: none;
  }

  .header__menu {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin: 0 0 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__content h1 {
    font-size: 5.125rem;
    font-weight: bold;
    margin: 0 0 25px;
  }

  .header__content p {
    font-family: "Lato";
    font-size: 1.9rem;
    line-height: 26px;
  }

  .header__content p:last-of-type {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .social h2 {
    font-size: 3.375rem;
  }

  .adwantages h2 {
    font-size: 3rem;
    -ms-grid-column: 2;
    grid-column: 2;
    margin: 0;
  }

  .adwantages__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
  }

  .adwantages__items .editor-img {
    margin-right: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
  }

  .adwantages__items h3 {
    margin-top: 0;
    font-size: 1rem;
  }

  .adwantages__items p {
    font-size: 0.875rem;
    color: #848e97;
  }

  .adwantages__item {
    -ms-grid-column: 1;
    grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .adwantages__item img {
    margin-right: 20px;
    min-width: 111px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -o-object-fit: none;
    object-fit: none;
    -o-object-position: top;
    object-position: top;
  }

  .adwantages__item:first-of-type {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .reviews h2 {
    font-size: 3rem;
  }

  .reviews__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .reviews .text {
    margin: 0 auto;
    width: 70%;
  }

  .reviews .text::after {
    content: "";
    background-color: #645766;
    height: 2px;
    width: 780px;
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1102px) {
  .subscription-pricing__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .header .header__top-items::before {
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #27262a;
    top: 0;
    position: absolute;
  }

  .header__menu {
    position: absolute;
    top: -250%;
    width: 100%;
    background-color: #333333;
    z-index: -2;
    -webkit-transition: top 0.5s linear 0s;
    -o-transition: top 0.5s linear 0s;
    transition: top 0.5s linear 0s;
  }

  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__menu li {
    position: relative;
    font-size: 1.625rem;
    padding: 30px 35px;
    list-style: none;
    border-bottom: 1px solid rgba(109, 107, 107, 0.2);
  }

  .header__menu.toggle-menu {
    top: 100%;
    z-index: 2;
    -webkit-transition: top 0.5s linear 0s, z-index 0.5s linear 0.5s;
    -o-transition: top 0.5s linear 0s, z-index 0.5s linear 0.5s;
    transition: top 0.5s linear 0s, z-index 0.5s linear 0.5s;
  }

  .header__dropdown {
    position: relative;
    display: block;
    margin-right: 15px;
    height: 26px;
    width: 30px;
  }

  .header__dropdown span {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 50%;
    height: 3px;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
  }
}